<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Articles Classifier</title>
    <link href="static/css/style.css" rel="stylesheet">
    <script src="static/js/jquery.js"> </script>
</head>
<body>
    <div class="container">
      <form id="contact" action="" method="post">
        <h3>News Articles Classifier</h3>
        <h4>Phân loại tin tức trực tuyến</h4>
        <fieldset>
          <textarea id="news" name="news" placeholder="Nhập nội dung tin tức ở đây..." tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="submit" data-submit="...Sending" >Submit</button>
        </fieldset>

        <h1 class="article" align="center">{{ article }}</h1>
      </form>
    </div>
</body>
</html>